body {
    background: #9fff8e;
}

h1 {
    font-size: 60px;
    font-family: 'Trebuchet MS';
    
}

h2 {
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

img {
    width: 275px;
    height: 400px;
}

ul {
    font-family: Trebuchet MS;
    color: white;
}